* {
	box-sizing: border-box;
   
    
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('..fonts/OpenSans-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff') format('woff'),
    url('..fonts/OpenSans-Light.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('..fonts/OpenSans-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
    url('..fonts/OpenSans-ExtraBold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}
:root {
    --font-color: #9D5CD0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1630px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-first {
    background-color: #000000;
}
.header-first_container {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 28px;
  
}
.header-first_banner {
    margin-right: auto;
    margin-right: 180px;
}
.header-first_logo {
    width: 173px;
    height: 39.9px;
}
.header-first_nav-menu {
    display: flex;
    padding: 0;
}
.header-first_login {
    margin-left: auto;
    white-space: nowrap;
}
.header-first_login-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    
}
.header-first_login-btn:hover path {
    fill:  #9D5CD0;
    transition: fill .5s ease;
}
.header-first_nav-menu-list:not(:last-child) {
    margin-right: 65px;
}
.header-first_nav-menu-list,
.header-first_nav-menu-list-link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    transition: color 0.5s ease;
}
.header-first_nav-menu-list-link:hover {
    color: var(--font-color);
    transition: color .5s ease;
}
.header-first_login,
.header-first_login-link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    transition: color .5s ease;
}
.header-first_login-link:hover {
    color: var(--font-color);
    transition: color .5s ease;
}
.header-second {
    background-color: rgba(0, 0, 0, 0.4);
   
}
.header-second_container {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 21px; 
}
.header-second_menu {
    display: flex;
    padding-left: 0;
}
.header-second_menu-list:not(:last-child) {
    margin-right: 100px;
}

.header-second_menu-list,
.header-second_menu-link {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;  
    transition: color 0.5s ease;
}
.header-second_menu-link:hover {
    color: var(--font-color);
    transition: color 0.5s ease;
}
.simplebar-content-wrapper { 
    overflow : auto ; 
  }
  .header-second_menu-list .drop-list {
    display: none;
    width: 250px;
    height: 90px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 45px;
    left: 0;
    right: 0;
    overflow: hidden auto;
  }

  .drop-list  {
      padding-left: 0; 
  }
  .drop-list-item {
      border-bottom: 1px solid #fff;  
  }
  .header-second_menu-link:focus ~ .drop-list,
  .header-second_menu-link:active ~ .drop-list,
  .drop-list:hover {
      display: block;
      width: 250px;
      color: #fff;
      transition: color 0.5s ease;
      cursor: pointer;
  }
 .drop-list-item:hover {
     color: var(--font-color);
     transition: color 0.5s ease;
 }
   .header-second_menu-list .drop-list-item {
    display: block;
    width: 100%;
    line-height: 24px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  .simplebar-scrollbar::before {
    background: var(--font-color);
    border-radius: 5px;
  }
  .header-second_form-submit {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.header-second_menu-list_inf-btn {
    display: inline-block;
    background-image: url("../img/strelka.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 10px;
    margin-left: 4px;
  
}
.header-second_search-btn {
    display: inline-block;
    background-image: url("../img/loop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;
   margin-right: 13px;
}
.header-second-search {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 15px;
   
}
input[type="search"]::placeholder {
    color: #ffffff;
    padding-bottom: 2px;
 }
 .hero {
     width: 100%;
     margin-bottom: 79px;
 }
 .hero_img-container {
    width: 100%;
    min-height: 711px;
    position: relative;
    margin-top: -565px;
    z-index: -1;
    overflow: hidden;
 }
 .hero_image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation: imagesFading 20s infinite;
    -moz-animation: imagesFading 20s infinite;
    -o-animation: imagesFading 20s infinite;
    animation: imagesFading 20s infinite;
 }
 @keyframes imagesFading {
    0% {
      opacity: 1;
      width: 100%;
    }
    25% {
      opacity: 1;
      width: 110%;
    }
   
    53% {
        opacity: 0;
       width: 120%;
      }

      73% {
        opacity: 1;
       width: 110%;
      
      }
    100% {
      opacity: 1;
      width: 100%;
    }
  }

.hero_image-hero {
    background-image: url("../img/birmingham.jpg");
    animation-delay: 4s;
}
.hero_image-muzey {
    background-image: url("../img/museums.jpg");
    animation-delay: 2s;
}
   
.hero_image-trust {
    background-image: url("../img/trust.jpg");
    animation-delay: 0s;
}
.hero-title {
    margin: 0;
    padding-top: 71px;
    font-size: 72px;
    line-height: 82px;
    font-weight: 700;
    color: #ffffff;
    max-width: 600px;
    margin-bottom: 0;
    }
    .hero_descriptions {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 115px;
    }
    .hero_first-btn {
        max-width: 315px;
    padding: 22px 35px;
    background-color: var(--font-color);
    border-radius: 100px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    }
    .about-title {
        margin: 0;
font-size: 48px;
line-height: 65px;
font-weight: 400;
color: #333333;
margin-bottom: 18px;
    }
    .about-text {
        margin: 0;
line-height: 32px;
font-weight: 400;
max-width: 68%;
    }
    .about {
        margin-bottom: 70px;
    }
    .gallery {
        background-image: url("../img/MK.png");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 995px;
        width: 100%;  
        }
   .gallery-container {
   display: -webkit-box;
   display: -ms-flexbox;
  display: flex; 
  padding-top: 80px;
   min-width: 0;
            }
            
    .gallery-block {
    display: -webkit-box;
   display: -ms-flexbox;
  display: flex;
   -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
width: 25%;
 min-height: 600px;
                }

    .gallery-block_title {
 margin-top: 0;
color: #ffffff;
font-size: 48px;
line-height: 65px;
font-weight: 400;
margin-bottom: 10px;
    }
    .gallery-block_filtr {
        border: none;
font-size: 16px;
line-height: 32px;
font-weight: 600;
color: #ffffff;
padding-left: 0;
    }
    .gallery-block_select {
        width: 100%;
    }
    .choices__inner {
     padding-top: 0;     
    height: 38px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    z-index: 2;    
    }
    .choices__list--dropdown .choices__item {
        padding-bottom: 0;
        padding-top: 4px;
    }
    .is-open .choices__list--dropdown {
    
    background-color: transparent;
    border: 1px solid #FFFFFF;
    
    border-bottom-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    }
    .choices__placeholder {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #999999;
    opacity: 1;  
    border-bottom: 1px solid #fff;
    
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    display: none;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
    }
    .choices[data-type*=select-one]::after {
    content: url("../img/strelka.svg");
    margin-top: -10px;
    margin-right: 12px;
    color: #ffffff;
    position: absolute;
    border-style: none;
    
    }
    .choices[data-type*=select-one].is-open::after {
    content: url("../img/strelka.svg");
    margin-top: -10px;
    margin-right: 12px;
    color: #ffffff;
    position: absolute;
    border-style: none;
    }
    .gallery-block_description {
        margin-top: 550px;
        max-width: 386px;
        line-height: 32px;
        font-weight: 600;
        color: #ffffff;
    }
    .gallery-block_sign,
    .gallery-block_sign-link {
line-height: 32px;
font-weight: 600;
color: var(--font-color);
    }
    .gallery_wrapper {
        margin-left: 50px;
    }
    .swiper-container {
        margin-top: 30px;
        height: 350px;
        width: 1150px;
        margin-bottom: 50px;
        }
        .swiper-container1 {
            margin-left: auto;
            margin-right: auto;
        height: 350px;
        width: 1150px;
        margin-bottom: 50px;
        overflow: hidden;
        }
 .gallery_wrapper_top-btn {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-top: 22px;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}
.swiper-pagination-fraction {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    position: static;
    width: 70px;
    }
    .swiper-button-prev {
    background-image: url("../img/vec2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: static;
    background-color: transparent;
    border: none;
    }
    .swiper-button-next {
    background-image: url("../img/vec1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    position: static;
    background-color: transparent;
    border: none;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
    display: none;
    }
        
    .swiper-slide.sly-a {
    background-image: url("../img/70.png");
    }
    .swiper-slide.sly-b {
    background-image: url("../img/69.png");
    }
    .swiper-slide.slider3 {
    background-image: url("../img/68.png");
    }
    .swiper-slide.slider4 {
    background-image: url("../img/72.png");
    }
    .swiper-slide.slider5 {
    background-image: url("../img/73.png");
    }
    .swiper-slide.slider6 {
    background-image: url("../img/71.png");
    }
    .swiper-slide.slider7 {
    background-image: url("../img/86.png");
    }
    .swiper-slide.slider8 {
    background-image: url("../img/80.png");
    }
    .swiper-slide.slider9 {
    background-image: url("../img/90.png");
    }
    .swiper-slide.slider10 {
    background-image: url("../img/87.png");
    }
    .swiper-slide.slider11 {
    background-image: url("../img/81.png");
    }
    .swiper-slide.slider12 {
    background-image: url("../img/91.png");
    }
    .swiper-slide.slider13 {
    background-image: url("../img/88.png");
    }
    .swiper-slide.slider14 {
    background-image: url("../img/82.png");
    }
    .swiper-slide.slider15 {
    background-image: url("../img/84.png");
    }
    .swiper-slide.slider16 {
    background-image: url("../img/89.png");
    }
    .swiper-slide.slider17 {
    background-image: url("../img/83.png");
    }
    .swiper-slide.slider18 {
    background-image: url("../img/85.png");
    }
    .swiper-slide.slider19 {
    background-image: url("../img/7.png");
    }
    .swiper-slide.slider20 {
    background-image: url("../img/8.png");
    }
    .swiper-slide.slider21 {
    background-image: url("../img/9.png");
    }
    .swiper-slide.slider22 {
    background-image: url("../img/77.png");
    }
    .swiper-slide.slider23 {
    background-image: url("../img/74.png");
    }
    .swiper-slide.slider24 {
    background-image: url("../img/79.png");
    }
    .swiper-slide.slider25 {
    background-image: url("../img/172.png");
    }
    .swiper-slide.slider26 {
    background-image: url("../img/171.png");
    }
    .swiper-slide.slider27 {
    background-image: url("../img/731.png");
    }
    .swiper-slide.slider28 {
    background-image: url("../img/78.png");
    }
    .swiper-slide.slider29 {
    background-image: url("../img/75.png");
    }
    .swiper-slide.slider30 {
    background-image: url("../img/76.png");
    }
    .catalog-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 80px;
        }
.catalog-img_title {
 font-size: 48px;
line-height: 65px;
font-weight: 400;
margin-right: 41px;
margin-top: 0;
margin-bottom: 0;
}
.catalog-img_flag {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-left: 7px;
}
.catalog-img_flag-tab {
    margin-right: 50px;
    margin-top: 13px;
   
}
.catalog-img_flag-tab:focus {
    border: 2px solid var(--font-color);
    border-radius: 100px;
    outline: none;
    padding: 2px;
    width: 46px;
   height: 46px;
}
.catalog-text {
    margin-top: 18px;
    line-height: 32px;
    max-width: 65%;
    }
    .catalog-history {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 38px;
        }
.catalog-history_block {
max-width: 750px;
margin-right: 50px;
    }
.catalog-history_block-img {
    max-width: 750px;
min-height: 470px;
}
.catalog-history_artist_img {
    max-width: 750px;
    max-height: 470px; 
}
.catalog-history-title {
    font-size: 24px;
line-height: 32px;
font-weight: 600;
margin: 0;
margin-top: 30px;
}
.catalog-history-data {
font-size: 12px;
line-height: 16px;
color: #999999;
font-weight: normal;
margin-bottom: 0;
}
.catalog-history-text {
font-size: 16px;
line-height: 32px;
font-weight: 400;
margin: 0;
}
.catalog_accord-list {
    width: 100%;
}
.catalog_accord-title {
    font-size: 24px;
line-height: 32px;
font-weight: 600;
color: #333333;
}
.ui-accordion-header.catalog_accord-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CACACA;
    padding-top: 31px;
    padding-bottom: 31px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    cursor: pointer; 
}
.ui-accordion-header.catalog_accord-item:first-child {
    border-top: 1px solid #CACACA;   
    }
    .ui-accordion-header.catalog_accord-item:hover {
    background-color: #e5e5e5;
    }
.catalog_accord-btn {
    width: 100%;
max-width: 50px;
height: 50px;
border: none;
border-radius: 50%;
background-color: #ECECEC;
outline: none;
padding: 2px;
box-sizing: border-box;
background-image: url("../img/66.svg");
background-repeat: no-repeat;
background-position: center;
margin-left: auto; 
}
.catalog_accord-btn:focus {

background-image: url("../img/67.svg");
background-repeat: no-repeat;
background-position: center;
margin-left: auto;
}
.catalog_accord-description {
    column-width: 120px;
column-count: 3;
column-gap: 75px;
padding-top: 25px;
padding-bottom: 10px;
border-top: 1px solid var(--font-color);
border-bottom: 1px solid var(--font-color);
}
.catalog_accord-text {
    line-height: 32px;
font-weight: 400; 
min-height: 307px;
margin: 0;
}
.artist {
    color: #333333;
    transition: color 0.5s ease;
  }
  .artist:hover {
      color: var(--font-color);
      transition: color 0.5s ease;
  }
  .event {
    margin-top: 88px;
    }
    .event-title {
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
    margin-bottom: 17px;
    }
    .event-block {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 46px;
        
    }
    .event_book {
position: relative;
width: 31%;
min-height: 700px;
border: 1px solid #CACACA;
background-color: #FFFFFF; 
    }
    .event_book:not(:nth-child(3n)) {
        margin-right: 55px;
    }
    .event_book-img {
        width: 100%;
        min-height: 300px;
    }
    .event_book-item {
        margin-top: 7px;
margin-left: auto;
text-align: right;
padding-right: 19px;
margin-bottom: 0;
font-size: 12px;
line-height: 16px;
font-weight: 400;
color: #999999;
    }
    .event_book-titles {
        font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #333333;
    padding-left: 50px;
    margin: 0;
    margin-top: 5px;
    }
    .event_book-text {
        font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 4px;
    }
    .event_book_text-btn {
        position: absolute;
        bottom: 43px;
        margin-left: 50px;
        border-bottom: 1px solid var(--font-color);
        line-height: 32px;
        font-weight: 400;
        color: var(--font-color);
    }
    .event_book-hide {
        display: none; 
    }
    .event_book-hide-spoiler {
        display: flex;
        
    }
    .event-btn {
        max-width: 188px;
        display: block;
        border: 2px solid var(--font-color);
        border-radius: 100px;
        background-color: #e5e5e5;
        padding: 17px 35px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: var(--font-color);
        white-space: nowrap;
        margin: 0 auto;
        margin-top: 30px;
    }
    .event-spoiler {
        color: var(--font-color);
    }
    .publish {
        margin-top: 81px;
        background-image: url("../img/bg1.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 700px;
    }
    .publish-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .publish-block {
        max-width: 350px;
        margin-right: 130px;
    }
    .publish-block-title {
        font-size: 48px;
        line-height: 65px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 80px;
        margin-bottom: 14px;
    }
    .publish-block_check-title {
        font-size: 16px;
        line-height: 32px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 7px;
        text-align: left;
        border: none;
    }
    .publish-block_check {
   padding-left: 20px;
   margin: 0;
   cursor: pointer;
    }
    .publish-block_option {
        display: block;
        padding-bottom: 2px; 
    }
    .publish-block_option:not(:last-child) {
        padding-bottom: 0;
    }
    .publish-block_check_input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    .publish-block_check_box {
        position: absolute;
        width: 12px;
        height: 12px;
        border: 1px solid #FFFFFF;
        margin-left: -1.2em;
        margin-top: 10px;
    }
    .publish-block_items {
        font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 9px;
    }
    .publish-block_check_input:checked + .publish-block_check_box {
        background-image: url("../img/16.svg");
        background-position: center;
        background-repeat: no-repeat;
        color: var(--font-color);
        border: 1px solid var(--font-color);
    }
    .publish-block_check_input:focus + .publish-block_check_box {
        border: 1px solid var(--font-color);
    }
    .publish-block_check_input:checked ~ .publish-block_items {
        color: var(--font-color);
    }
    .publish-block_check-title {
        font-size: 16px;
        line-height: 32px;
        font-weight: 700;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 7px;
        text-align: left;
        border: none;
    }
    .publish-block_price {
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        max-width: 341px;
        height: 40px;
    }
    .publish-block_price-input {
        max-width: 60px;
        height: 16px;
        border: none;
        background-color: var(--font-color);
    }
    .price1 {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #000000;
        padding-left: 6px;
        padding-right: 5px;
        
    }
    .price2 {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: #FFFFFF;
        background-color: var(--font-color);
        padding-left: 10px;
        padding-right: 22px;
         white-space: nowrap;
    }
    .swiper-container3 {
        margin: o auto;
        min-height: 593px;
        max-width: 1150px;
        overflow: hidden;  
    }
    .publish-block_top-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 31px;
         margin-top: 106px;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
    }
    .publish-img {
        width: 350px;
        height: 390px;
    }
    .card-item {
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .card-aftor {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #FFFFFF;
    }
    .card-price {
        display: block;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: #FFFFFF;
        font-style: italic; 
        
    }
    .card-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 18px;
    }
    .publish-block_btn {
        display: block;
        border: 2px solid var(--font-color);
        border-radius: 100px;
        margin-top: 14px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: transparent;
        padding: 8px 20px;
    }
    .proyect-title {
        margin-top: 80px;
        font-size: 48px;
        line-height: 65px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 15px;
    }
    .proyect-text {
        line-height: 32px;
        font-weight: 400;
        max-width: 65%;   
    }
    .i-btn {
        display: inline-block;
         background: url("../img/i-tul.svg") no-repeat 0px 0px;
        width: 16px;
        height: 16px; 
        cursor: pointer;
        position: relative;
    }
    .proyect_text-popup {
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 9999;
        margin-bottom: 5px;
        padding: 8px 11px;
        width: 240px;
        background: #CACACA;
        color: #ffffff;
        text-align: left;
        font-size: 12px;
        line-height: 16px;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s; 
    }
    .i-btn:hover .proyect_text-popup {
        opacity: 1;
        visibility: visible;
        }
        .proyect_text-link {
            color: var(--font-color);
        }
        .swiper-container4 {
            margin: 0 auto;
            height: 150px;
            width: 91%;
            margin-bottom: 50px;
            overflow: hidden;  
            }
.proyect_part {
    font-size: 24px;
line-height: 32px;
font-weight: 600;
margin-top: 20px;
}
.proyect_part-btn {
    position: relative;
}
.pr {
    background-image: url("../img/vec31.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    margin-top: 57px;
    }
    .nx {
    background-image: url("../img/vec32.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    margin-top: 57px;
    }
    .swiper-slide.part1 {
        background-image: url("../img/22.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part2 {
        background-image: url("../img/24.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part2:hover {
            filter: invert(100%);
         }
        .swiper-slide.part3 {
        background-image: url("../img/25.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part3:hover {
            filter: invert(100%);
         }
        .swiper-slide.part4 {
        background-image: url("../img/26.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part4:hover {
            filter: invert(100%);
         }
        .swiper-slide.part5 {
        background-image: url("../img/27.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part5:hover {
            filter: invert(100%);
         }
        .swiper-slide.part6 {
        background-image: url("../img/65.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part6:hover {
            filter: invert(100%);
         }
        .swiper-slide.part7 {
        background-image: url("../img/166.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part7:hover {
            filter: invert(100%);
         }
        .swiper-slide.part8 {
        background-image: url("../img/167.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part8:hover {
            filter: invert(100%);
         }
        .swiper-slide.part9 {
        background-image: url("../img/23.png");
        border: 1px solid #CACACA;
        }
        .swiper-slide.part9:hover {
            filter: invert(100%);
         }
         .contacts-block {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            }
        .contacts-title {
            font-size: 48px;
            line-height: 65px;
            font-weight: 400;
            margin-top: 80px;
            margin-left: 150px;
            margin-bottom: 13px;
        }
        .conacts-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            border: 1px solid #CACACA;
            width: 35%;
            max-height: 705px;
            padding-left: 150px;
            padding-right: 115px;
        }
        .contacts-name {
            margin-top: 124px;
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            margin-bottom: 0;
        }
        .contacts-adress {
            line-height: 32px;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;
        }
        .contacts-app {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            margin-top: 31px;
            margin-bottom: 16px;
        }
        .form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        .input-name {
            max-width: 420px;
            min-height: 40px;
            margin-bottom: 23px;
            border: 1px solid #333333;
            border-radius: 100px;
            font-size: 16px;
            line-height: 32px;
            color: #999999;
            padding-left: 24px;
        }
        .contacts-btn {
            max-width: 157px;
            border: 2px solid var(--font-color);
            border-radius: 100px;
            padding: 16px 35px;
            background-color: transparent;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: var(--font-color);
            margin-bottom: 5px;
        }
        .contacts-soc {
            margin-top: 0px;
        }
        .contacts-maps {
            max-width: 65%;
        }
        .ymaps-2-1-77-map {
            max-width: 100%;
            min-height: 100%;
        }
        .maps {
            max-width: 100%;
            min-height: 100%;
        }
        .soc-img {
            margin-right: 16px;
        }
        .footer {
            background-color: #000000; 
            min-height: 140px; 
        }
        .footer-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .logo2 {
            padding-top: 44px;
        }
        .footer-soc {
            margin-top: 44px;
            
        }
        .social-img {
            margin-left: 15px;
            width: 45.4px;
            height: 45.4px;
            cursor: pointer;
        }